<div class="...">
    <p>botton section template----------------------- :</p>
    <div>button 1 zu Kürklasen
        <button> <a routerLink="/first">A</a></button><!-- erste Prüfung  -->
    </div>

    <div>button 2 zu InitialTestPage component page
        <button> <a routerLink="/initial">B</a></button> <!-- RouterLink zu intl page -->
    </div>

    <div>button 3 zu PflichtklassenPage component page
        <button> <a routerLink="/mandatory">C</a></button> <!-- RouterLink zu mdtr page -->
    </div>

</div>