@use "sass:color";
.btn-section {
  text-align: center;
  padding: 2rem;

  p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  button {
    flex: 1 1 30%;
    width: 200px;
    height: 250px;
    padding: 2rem 2.5rem;
    font-size: 1.5rem;
    display: flex;
    color: white;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-1 {
    background-color: #738fbd;

    &:hover {
    background-color: color.scale(#738fbd, $lightness: -10%);
    transform: scale(1.07)
    }
  }

  .btn-2 {
    background-color: #a8c3d4;

    &:hover {
    background-color: color.scale(#a8c3d4, $lightness: -10%);
    transform: scale(1.07)
    }
  }

  .btn-3 {
    background-color: #db88a4;

    &:hover {
    background-color: color.scale(#db88a4, $lightness: -10%);
    transform: scale(1.07)
    }
  }
}
