<div class="...">
    <p>botton section template----------------------- :</p>
    <div>button 1 zu Kürklasen
        <a routerLink=""></a><!-- RouterLink zu ... page : KANN EINER AUSPROBIEREN  -->
    </div>

    <div>button 2 zu InitialTestPage component page
        <button> <a routerLink="/initial">Zur InitialTestPage</a></button> <!-- RouterLink zu intl page -->
    </div>

    <div>button 3 zu PflichtklassenPage component page
        <button> <a routerLink="/mandatory">Zur PflichtklassenPage</a></button> <!-- RouterLink zu mdtr page -->
    </div>

</div>