<div class="popup-overlay">
  <div class="popup-content">
    <div class="popup-header">
      <h2>Neue Veranstaltung erstellen</h2>
      <button class="close-button" (click)="closeCreateNewEvent()">×</button>
    </div>
    <div class="popup-body">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name der Veranstaltung</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Veranstalter</mat-label>
          <input matInput formControlName="veranstalter" required>
        </mat-form-field>

        <div class="date-range">
          <mat-form-field appearance="fill">
            <mat-label>Startdatum</mat-label>
            <input matInput 
                   [matDatepicker]="startPicker" 
                   formControlName="startDate"
                   placeholder="TT-MM-JJJJ"
                   [matDatepickerFilter]="dateFilter">
            <mat-hint>Format: TT-MM-JJJJ</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enddatum</mat-label>
            <input matInput 
                   [matDatepicker]="endPicker" 
                   formControlName="endDate"
                   placeholder="TT-MM-JJJJ"
                   [matDatepickerFilter]="dateFilter">
            <mat-hint>Format: TT-MM-JJJJ</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Veranstaltungsort</mat-label>
          <input matInput formControlName="place" required>
          <mat-hint>z.B. Sporthalle-Adresse</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prüfungen auswählen</mat-label>
          <mat-select formControlName="selectedExams" multiple>
            <mat-option *ngFor="let exam of examOptions" [value]="exam">
              {{exam}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="selectedExamList.length > 0">
          <mat-label>Ausgewählte Prüfungen</mat-label>
          <textarea matInput
            [value]="selectedExamList.join('\n')"
            readonly
            [rows]="selectedExamList.length">
          </textarea>
        </mat-form-field>


        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit">Erstellen</button>
          <button mat-button type="button" (click)="closeCreateNewEvent()">Abbrechen</button>
        </div>
      </form>
    </div>
  </div>
</div>
