<div class="event-details-container">
  <div class="event-header">
    <h2>{{ event?.name }}</h2>
    <div class="event-info">
      <p>{{ event?.veranstalter }}</p>
      <p>{{ event?.place }}</p>
      <p>{{ event?.startDate | date }} - {{ event?.endDate | date }}</p>
    </div>
  </div>

  <div class="exam-list">
    <h3>Prüfungen</h3>
    <div class="exam-grid">
      <div class="exam-card" *ngFor="let exam of event?.selectedExams">
        <div class="exam-header">
          <mat-icon>school</mat-icon>
          <h4>{{ exam }}</h4>
        </div>
        <div class="exam-footer">
          <span>0 Prüflinge</span>
        </div>
      </div>
    </div>
  </div>
</div>
