header {
  height: 80px;
  background: linear-gradient(to right,
    #738fbd,
    #a8c3d4,
    #dbd6df,
    #eec6c7,
    #db88a4,
    #cc8eb1
  );
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 100px;
  font-size: 1.5rem;
  font-weight: bold;
  

  .app-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
